* {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    border-radius: 1em;

    user-select: none;
}

body {
    background-color: rgba(157, 157, 157, 0.577);
}


/* TODO MEDIO */
#ROJO {
    margin: 0px auto;
    padding: 0px;

    width: 100%;
    /* como hacer que ocupe todo el ALTO */

    /* gap: 20px; */

    text-align: center;
    background-color: rgb(254, 254, 254);
    border: 0px solid red;
    border-radius: 0em;
    /*
    height: 100vh;
    */
}


/* SOLO MEDIO */
#AZUL {
    display: flex;
}


/* CABECERA */
#CABECERA {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 5px;
    height: 200px;
    line-height: 110px;

    background-color: lightgray;
    background-image: url(../IMG/billetes-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-size: 1.5em;
    color: #00c3ff;

    text-shadow:
        -1px -1px 2px blue,
        1px -1px 2px blue,
        -1px 1px 2px blue,
        1px 1px 2px blue;
}

#CABECERA h2 .mayus {
    text-transform: capitalize;
    font-size: 2em;
    font-weight: bold;
}

#CABECERA i {
    font-size: 2em;
    color: #00c3ff;
    text-shadow:
        -1px -1px 7px blue,
        1px -1px 7px blue,
        -1px 1px 7px blue,
        1px 1px 7px blue;
}

#CABECERA i:hover {
    color: rgb(4, 255, 0);
    text-shadow:
        -1px -1px 7px black,
        1px -1px 7px black,
        -1px 1px 7px black,
        1px 1px 7px black;
}


/* BARRA LATERAL */
#BARRA-LATERAL {
    display: flex;
    flex-direction: column;

    margin: 5px;
    padding: 5px;

    background-color: #176B87;

    font-size: 1.2em;
    font-weight: bold;

    width: 270px;
    /* ancho predeterminado de la barra lateral */
}

#BARRA-LATERAL .option {
    background-color: #00003d;

    margin-top: 5px;
    margin-bottom: 5px;

    height: 30px;
    line-height: 30px;
    /* NO tocar */
    text-transform: uppercase;
}

#BARRA-LATERAL .option a {
    text-decoration: none;
}

#BARRA-LATERAL .option:hover {
    background-color: #0c136e;
}

/* inicio */
.option:nth-child(1) {
    align-self: flex-end;
}

.option:nth-child(1) a {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    /* permite centrar icono e inicio */
}

.option:nth-child(1) a i {
    color: #ffffff;
    line-height: 30px;
}


/* opciones */
.option:nth-child(2),
.option:nth-child(3),
.option:nth-child(4) {
    align-self: flex-start;
    width: 100%;

}

.option:nth-child(2) a,
.option:nth-child(3) a,
.option:nth-child(4) a {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    /* permite cosas */
}

.option:nth-child(2) a i,
.option:nth-child(3) a i,
.option:nth-child(4) a i {
    color: rgb(255, 255, 255);
    line-height: 30px;
    /**/
}

.left {
    margin-right: auto;
    margin-left: 5px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* comentrario */
#BARRA-LATERAL .comentarios {
    margin-top: auto;
    background-color: lightgray;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* como hacer que los angulos queden fijos ??? */
    justify-content: center;
    padding: 7px;
}

.comentarios div {
    display: flex;
    justify-content: center;

}

.comentarios div img {
    align-self: center;

}

.comentarios div h3 {
    align-self: center;
}

.comentarios img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.comentarios p {
    font-size: 15px;
    font-weight: normal;
}



/* CONTENIDO CENTRAL */
#CONTENIDO-CENTRAL {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 5px;
    height: auto;
    border: 0px solid black;
    width: 100%;
}

.URL {
    grid-area: URL;
    align-self: self-end;
    text-align: right;
    margin-bottom: 7px;
}

.container {
    border: 1px solid rgb(0, 0, 0);
}

.container h2 {
    margin-top: 10px;
}

/* PIE */

.container .pie {
    grid-area: pie;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    padding: 10px;
}

.pie .izquierda {
    text-align: left;
}

.pie .derecha {
    text-align: right;

    padding: 2px;
    border-radius: 0em;
}

.pie .derecha span {
    padding: 2px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.238);
}

.pie .derecha a {
    padding: 2px;
    border-radius: 2px;
    background-color: rgb(238, 131, 238);

    text-decoration: none;
    color: white;
}

.pie .derecha a:hover {
    background-color: rgb(215, 138, 215);
}

/* PIE DE PAGINA */
#ROJO {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#AZUL {
    flex: 1;
    /* ocupa todo el alto de la pag, esta bien ??? */
}


#PIE-DE-PAGINA {
    /* alto no nodificar por ahora  */
    flex-shrink: 0;


    margin: 5px;
    padding: 10px;
    background-color: #04364A;
    color: #DAFFFB;

    display: flex;
    flex-direction: column;
    color: white;
}

#PIE-DE-PAGINA .con-tenedor {
    display: flex;
    justify-content: space-around;

    margin-bottom: 15px;
    margin-top: 15px;

}

#PIE-DE-PAGINA .con-tenedor div {
    text-align: left;
}


#PIE-DE-PAGINA .con-tenedor div ul {
    text-transform: none;
    list-style: none;
    font-size: 14px;

    margin: 0px;
    padding: 0px;
}


#PIE-DE-PAGINA .con-tenedor .listado ul li {
    position: relative;
    padding-left: 20px;
}

.listado {
    width: 200px;
}


#PIE-DE-PAGINA .con-tenedor .listado ul li a:hover {
    margin-left: 5px;
}


#PIE-DE-PAGINA .con-tenedor .listado ul li::before {
    content: ">";
    position: absolute;
    left: 0;
}

#PIE-DE-PAGINA .con-tenedor div ul a {
    text-decoration: none;
    color: white;
}

#PIE-DE-PAGINA .con-tenedor .no-listado .no-listado-2 {
    text-decoration: underline;
    font-weight: bold;
}

#PIE-DE-PAGINA .con-tenedor .no-listado-2 {
    align-self: flex-end;
    text-align: right;
}

@media screen and (max-width: 960px) {
    #BARRA-LATERAL .comentarios {
        display: none;
    }

    #BARRA-LATERAL {
        display: flex;
        width: auto;
    }

    #BARRA-LATERAL div {
        width: 100%;
    }

    .option {
        display: flex;
        justify-content: center;
    }

    .option a {
        display: flex;
    }

    .option a i {
        margin-right: 5px;
    }

    #AZUL {
        flex-direction: column;
    }

    #CONTENIDO-CENTRAL {
        width: auto;
    }
}

@media screen and (max-width: 500px) {
    #PIE-DE-PAGINA .con-tenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #PIE-DE-PAGINA .con-tenedor div {
        text-align: center;
        align-self: center;
        margin-bottom: 30px;
    }

    #PIE-DE-PAGINA .con-tenedor .no-listado-2 {
        align-self: center;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    #CABECERA h2{
        font-size: 20px;
    }
}

