* {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    border-radius: 1em;

}

body {
    background-color: rgb(255, 255, 255);
    display: ;
}


/* TODO */
#ROJO {
    margin: 0px auto;
    padding: 0px;

    width: 100%;
    height: ;
    /* como hacer que ocupe todo el ALTO ???*/

    /* gap: 20px; */

    text-align: center;
    background-color: rgb(254, 254, 254);
    border: 0px solid red;
    border-radius: 0em;
    /*
    height: 100vh;
    */
}


/* SOLO MEDIO */
#AZUL {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}


/* CABECERA */
#CABECERA {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 5px;
    height: 110px;
    line-height: 110px;

    background-image: url(../IMG/monedas-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-size: 1.3em;
    color: rgb(0, 0, 0);

    text-shadow:
        -1px -1px 2px rgb(0, 255, 0),
        1px -1px 2px rgb(0, 255, 0),
        -1px 1px 2px rgb(0, 255, 0),
        1px 1px 2px rgb(0, 255, 0);
}

#CABECERA h2 span {
    text-transform: capitalize;
    font-size: 2em;
    font-weight: bold;
}

#CABECERA i {
    font-size: 2em;
    color: rgb(0, 255, 0);
    text-shadow:
        -1px -1px 2px rgb(0, 0, 0),
        1px -1px 2px rgb(0, 0, 0),
        -1px 1px 2px rgb(0, 0, 0),
        1px 1px 2px rgb(0, 0, 0);
}


/* BARRA LATERAL */
#BARRA-LATERAL {
    display: flex;
    flex-direction: column;

    margin: 5px;
    padding: 5px;

    background-color: #176B87;

    font-size: 1.2em;
    font-weight: bold;


}

#BARRA-LATERAL div {
    background-color: #00003d;

    margin-top: 6px;
    margin-bottom: 6px;

    height: 30px;
    line-height: 30px;
    width: ;
    /* NO tocar */
    text-transform: uppercase;

}

#BARRA-LATERAL .option a {
    text-decoration: none;
}

#BARRA-LATERAL .option:hover {
    background-color: #0c136e;
}

/* inicio */
.option:nth-child(1) {
    align-self: flex-end;
}

.option:nth-child(1) a {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    /* permite centrar icono e inicio */
}

.option:nth-child(1) a i {
    color: #ffffff;
    line-height: 30px;

}


/* opciones */
.option:nth-child(2),
.option:nth-child(3),
.option:nth-child(4) {
    align-self: flex-start;
    width: 100%;

}

.option:nth-child(2) a,
.option:nth-child(3) a,
.option:nth-child(4) a {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    /* permite cosas */
}

.option:nth-child(2) a i,
.option:nth-child(3) a i,
.option:nth-child(4) a i {
    color: rgb(255, 255, 255);
    line-height: 30px;
    /**/
}

.left {
    margin-right: auto;
    margin-left: 5px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* comentrario */
#BARRA-LATERAL .comentarios {
    background-color: lightgray;
    height: fit-content;
    display: flex;
    clip-path: polygon(0% 10%, 10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%);
    /* como hacer que quede fija ??? */
}

/* comentarios en todas la paginas ??? */

.comentarios {
    padding: 7px;
}

.comentarios .dere .texto {
    font-size: 1em;
    line-height: 30px;
    text-transform: none;
    font-weight: normal;
}


.comentarios img {
    max-height: 50px;
    border-radius: 10em;
    box-shadow: rgba(20, 20, 20, 0.3);
    border: #74a0cc;
}

.comentarios h3 {
    font-size: 1.2em;
}

.comentarios .izquierda {
    flex: 0 0 auto;
    background-color: lightblue;
}

#BARRA-LATERAL .comentarios .dere {
    background-color: lightgray;
    height: fit-content;
}

.comentarios .derecha {
    display: flex;
    flex-direction: column;
    flex: 1;
}


/* CONTENIDO CENTRAL */
#CONTENIDO-CENTRAL {
    align-items: center;
    justify-content: center;

    margin: 5px;
    height: auto;
    border: 0px solid black;
}

.URL {
    text-align: right;
    margin-bottom: 7px;
}

.container {
    border: 1px solid rgb(0, 0, 0);
}


/* PIE DE PAGINA */
#ROJO {
    display: flex;
    flex-direction: column;
    flex: 1; /* ??? */
}

#AZUL {
    flex: 1;
    /* ocupa todo el alto de la pag, esta bien???*/
}


#PIE-DE-PAGINA {
    width: ;
    flex-shrink: 0;
    /* cabecera y pie que no cambien de tamaño como hacer ??? */
    justify-content: center;

    margin: 5px;
    height: 110px;
    line-height: 110px;
    background-color: #04364A;
    color: #DAFFFB;
}