#BARRA-LATERAL .option:nth-child(4) {
    background-color: rgb(255, 255, 255);
}

#BARRA-LATERAL .option:nth-child(4) a {
    color: rgb(0, 0, 0);
}

#BARRA-LATERAL .option:nth-child(4) a i {
    color: rgb(0, 0, 0);
}

.container h2 {
    margin-bottom: 20px;
}

.lado-lado {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.lado-lado div {
    align-self: center;
    margin: 10px;

}

/* IZQUIERDA */

.formulario {
    margin: 10px;

}


.campo {
    display: flex;
    flex-direction: column;
    text-align: left;

    border: 1px solid lightgray;
    background-color: rgb(232, 232, 232);
    padding: 10px;
    margin: 5px;
}

.campo form {
    display: flex;
    flex-direction: column;

}

.campo form div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px;
}

.campo form div input {
    width: 50%;
}

.campo form div input,
textarea {
    border-radius: 0em;
    width: 50%;

}

.botones {
    text-align: right;

}

.botones input {
    border-radius: 0.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}


.gris {
    background-color: lightgray;
}

.verde {
    background-color: green;
    color: white;
}

/* DERECHA */

.lado_derecho {
    display: flex;
    flex-direction: column;
}


.info {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.info p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.datos {
    display: flex;
    border: 1px solid lightgray;
    padding: 20px;
}


.datos div ul {
    list-style: none;
    text-align: left;
}

.datos img {
    width: 70%;
}

@media (max-width: 800px) {
    .lado-lado {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lado-lado div {
        width: 100%;
    }

    .botones {
        text-align: center;

    }

    .lado-lado .formulario .campo {
        width: auto;
    }

    .lado-lado .lado_derecho {
        width: 100%;
    }

    .lado_derecho .info {
        max-width: none;
    }

    .info p {
        margin: 5px;
    }

    .lado_derecho .datos {
        width: auto;
        display: flex;
        border: 1px solid lightgray;
        padding: 20px;
    }
}