#BARRA-LATERAL .option:nth-child(2) {
    background-color: rgb(255, 255, 255);
}

#BARRA-LATERAL .option:nth-child(2) a {
    color: rgb(0, 0, 0);
}

#BARRA-LATERAL .option:nth-child(2) a i {
    color: rgb(0, 0, 0);
}

/* TITULO */

.titulo_icono {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container h2 {
    margin: 0 auto;
}

.container .impresora {
    margin-right: 5px;
    font-size: 30px;
}

.container .impresora a i {
    color: blue;
}

/* TABLA */

.tabla-container {
    max-height: 330px;
    overflow-y: auto;
    /* Agrega un scrollbar vertical si el contenido es más largo que la altura máxima 
    se puede hacer que el scroll / este oculto ???
    */
    border: 1px solid lightgray;

}

.tabla-container table {
    width: 100%;
    border-collapse: collapse;

}

.tabla-container table thead {
    background-color: #b5daff;

}

th,
td {
    padding: 8px;
    text-align: center;
    border-radius: 0em;

}

thead {
    position: sticky;
    top: 0;
}

table .fecha {
    text-align: left;
    background-color: lightgrey;
}

#body_MI .trAbajo td:not(:last-child) {
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
}

#body_MI .trAbajo td button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}