/* selector */

#CONTENIDO-CENTRAL .container .dia {
    text-align: right;
    margin: 10px;
}

#CONTENIDO-CENTRAL .select {
    display: flex;

    width: fit-content;
    margin: 10px;
    padding: 5px;
    border-radius: 1em;

    border: 1px solid black;
}

#CONTENIDO-CENTRAL .select label {
    font-size: 16px;
    padding: 3px;
}

#options {
    color: black;
}

.select a {
    color: red;
}

#CONTENIDO-CENTRAL .select i {
    font-size: 24px;
}

/* Pizarra de Monedas */

.container {
    display: grid;
    grid-template-areas:
        "h2"
        "select"
        "dia"
        "cotizaciones"
        "pie";
    grid-gap: 10px;

    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}

.URL {
    grid-area: URL;
    align-self: self-end;
    text-align: right;
    margin-bottom: 7px;
}

.container h2 {
    grid-area: h2;
}

.container select {
    grid-area: select;
}

.container .dia {
    grid-area: dia;
}

.container #cotizaciones {
    grid-area: cotizaciones;
    border: 1px solid black;
    padding: 20px;
    height: 60%;
    display: flex;
    flex-flow: column wrap;
}

.container .pie {
    grid-area: pie;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.tarjeta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    min-width: 343px;
}

.tarjeta button:hover {
    color: gold;
}


.moneda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;

    border: 1px solid #74a0cc4f;
    background-color: #74a0cc4f;

}

.precio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.precio div {
    display: flex;
    flex-direction: column;

}

.precio .compra,
.venta {
    margin-left: 15px;
    border-radius: 0.5em;
    font-size: 13px;
    align-self: center;
}

.compra {
    background-color: #28a746;
}

.venta {
    background-color: #dc3546c2;
}

.precio div h3 {
    font-size: 20px;
    text-decoration: none;
    font-weight: normal;
}

.precio div p {
    font-size: 15px;
}


/* Estilos para los mensajes de alerta */

.flexgrande {
    display: none;
    /* debo cambiar a "display: flex" para que se muestre la alerta */
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
}

.alert {
    display: none;
    /* Oculto por defecto */

    width: max-content;
    font-size: 20px;

    /* 
    top: 48%;
    left: 55%;
    transform: translate(-50%, -50%);
    */

    z-index: 1000;
    position: absolute;

    margin: auto auto;
    padding: 20px 40px;
    color: white;
    opacity: 0.9;
    border-radius: 50px;
}

.alert-success {
    background-color: #28a746;
    font-weight: bold;
}

.alert-warning {
    background-color: #ffc107;
    font-weight: bold;

}

.alert-error {
    background-color: #dc3545;
    font-weight: bold;

}

.boton_repetido,
.boton_filtro {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.boton_filtro {
    color: red;
}