/* selector */

#CONTENIDO-CENTRAL .container .dia {
    text-align: right;
    margin: 10px;
}

#CONTENIDO-CENTRAL .select {
    display: flex;

    width: fit-content;
    margin: 10px;
    padding: 5px;
    border-radius: 1em;

    border: 0px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.66);
}

#CONTENIDO-CENTRAL .select label {
    font-size: 16px;
    padding: 3px;
}

#options {
    color: black;
}

.select a {
    color: red;
}

#CONTENIDO-CENTRAL .select i {
    font-size: 24px;
}

/* Pizarra de Monedas */

.dosendos {
    display: flex;
    flex-direction: column;
}

.cotizaciones {
    border: 1px solid rgb(187, 187, 187);
    border-radius: 0em;
    margin: 10px;

    /* 
    NO SIRVE NOSE PORQUE LO DEJO
    a partir  de 1119px de ancho el grid rompe la pagina
    */

    /*
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    */

    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);

    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.66);

}

.tarjeta {
    flex-basis: 50%;
    box-sizing: border-box;
    min-width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tarjeta a {
    color: black;
}

.tarjeta button:hover {
    color: gold;
}


.moneda {
    /* a partir de 1233px se rompen las tarjetas de monedas
    */
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: fit-content;
    width: 60%;
    height: 30px;
    margin: 20px;
    padding: 15px;

    border: 1px solid #74a0cc4f;
    background-color: #74a0cc4f;

    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.66);
}


.moneda .precio {
    display: flex;
    align-self: flex-end;
    align-self: center;

}

.precio div {
    display: flex;
    flex-direction: column;

    font-size: 20px;
    font-weight: normal;
    width: 85px;
}

.precio div span {
    font-size: 13px;
    font-weight: normal;
}

.precio .compra {
    background-color: rgba(34, 255, 0, 0.379);
    border-radius: 0.5em;
    font-size: 13px;

    align-self: flex-end;
    align-self: center;
}

.precio .compra .monto {
    font-size: 20px;
}

.precio .venta {
    margin-left: 15px;
    background-color: rgba(255, 68, 68, 0.617);
    border-radius: 0.5em;
    font-size: 13px;

    align-self: flex-end;
    align-self: center;
}

.precio .venta .monto {
    font-size: 20px;
}



/* Estilos para los mensajes de alerta */
.alert {
    width: max-content;
    font-size: 20px;

    position: fixed;
    top: 48%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    color: white;
    opacity: 0.9;
    z-index: 1000;
    display: none;
    /* Oculto por defecto */
    border-radius: 50px;
}

.alert-success {
    background-color: #28a746;
    font-weight: bold;
}

.alert-warning {
    background-color: #ffc107;
    font-weight: bold;

}

.alert-error {
    background-color: #dc3545;
    font-weight: bold;

}

.boton_repetido,
.boton_filtro {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
<<<<<<< HEAD
    <<<<<<< Updated upstream=======
=======
>>>>>>> b8960f7df68a7a940b472c55367d2c6c0eba83d0
}

.boton_filtro {
    color: red;
<<<<<<< HEAD
    >>>>>>>Stashed changes
=======
>>>>>>> b8960f7df68a7a940b472c55367d2c6c0eba83d0
}