#BARRA-LATERAL .option:nth-child(3) {
    background-color: rgb(255, 255, 255);
}

#BARRA-LATERAL .option:nth-child(3) a {
    color: rgb(0, 0, 0);
}

#BARRA-LATERAL .option:nth-child(3) a i {
    color: rgb(0, 0, 0);
}