/* Estilos para la sección de socios importantes */

.container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.container h2{
    background-color: lightseagreen;
}

.imagen_nombre{
    display: flex;
    text-align: center;
    justify-content: center;
    align-self: center;
}

.imagen_nombre div{
    
}

.imagen{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.imagen h3 {
    background-color: lightseagreen;
}

.nombre{
    width: 70%;
    margin-left: 20px;
    background-color: rgba(1, 107, 199, 0.679);
    border:1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagen_nombre .nombre p {
    color: white;
    font-size: 19px;
}

.container h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.partner {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.partner h3 {
    font-size: 24px;
    color: #333;
}

.partner p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.partner img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
